.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  width: 16rem;
  height: 20rem;
  border: var(--space-1) solid var(--primary-color);
  margin: var(--space2) var(--space1);
  border-radius: var(--space-4);
  box-shadow: 0 0 var(--space-2) var(--primary-color);
}

.project:hover {
  box-shadow: -1px 1px var(--space-1) var(--secondary-color);
}

.project-thumbnail {
  background-color: var(--primary-color);
  margin: var(--space-6);
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech {
  margin: var(--space-6) var(--space-6) 0 0;
  border-radius: var(--space-4);
  border: var(--space-1) solid var(--primary-color);
  padding: var(--space-2);
  color: var(--secondary-color);
}

.project-details {
  margin: var(--space-6) var(--space-6);
}
