.terminal {
  width: var(--width-small);
  margin: var(--space2) auto;
  color: var(--white);
}

.menu-bar {
  background-color: var(--primary-color-light);
  display: flex;
  align-items: center;
  height: var(--space1-6);
  border-radius: var(--space-6) var(--space-6) 0 0;
  padding-left: var(--space-4);
}

.title-bar {
  height: fit-content;
  background-color: var(--terminal-black);
  padding: var(--space1-2) var(--space1) var(--space1) var(--space1);
  font-family: var(--font-family-secondary);
  font-size: var(--font-small);
  border-radius: 0 0 var(--space-6) var(--space-6);
}

.pwd {
  color: var(--terminal-green);
}

.terminal-skills {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: var(--line-height);
}

.skill-item {
  list-style: none;
  padding-right: var(--space2);
}

.circle {
  width: var(--space-8);
  height: var(--space-8);
  border-radius: 50%;
  margin-left: var(--space-6);
}
