.skills-container {
  margin: var(--space2) auto;
  max-width: 40rem;
}

.skills {
  display: flex;
  margin: var(--space1) 0 var(--space1) 2rem;
  flex-wrap: wrap;
}

.skill {
  border: var(--space-1) solid var(--primary-color);
  border-radius: var(--space-2);
  width: fit-content;
  padding: var(--space-1) var(--space-6);
  margin: var(--space-2) var(--space-2);
}

.skill:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.skills-label {
  font-weight: var(--font-bold);
  font-size: var(--font-medium);
  text-align: center;
}
