.skills-container {
  margin: var(--space2) auto;
  width: 40%;
}

.skills {
  display: flex;
  margin-top: var(--space1-4);
  flex-wrap: wrap;
}

.skill {
  border: var(--space-1) solid var(--primary-color-light);
  border-radius: var(--space-2);
  width: fit-content;
  padding: var(--space-1) var(--space-6);
  margin: var(--space-2) var(--space-2);
}

.skill:hover {
  background-color: var(--primary-color-light);
  cursor: pointer;
}

.skills-label {
  font-weight: var(--font-bold);
  font-size: var(--font-medium);
  text-align: center;
}
