.heading {
  background-color: var(--primary-color-light);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 600;
}

.links {
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #546fd1;
}
