.heading {
  background-color: var(--primary-color-light);
  height: var(--space4);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links {
  font-size: var(--font-medium);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  color: var(--primary-color-dark);
  cursor: pointer;
  text-decoration: underline;
}
