.intro {
  margin: var(--space2) var(--width-smallest);
  line-height: var(--line-height);
  display: flex;
}

.name {
  color: var(--primary-color-dark);
}

.message {
  padding: 0 0 0 var(--space2);
}

.salutation {
  font-size: var(--font-large);
}

.quick-message {
  color: var(--primary-color-dark);
}
