.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--space4);
  background-color: var(--primary-color-light);
  text-align: center;
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
}
