.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: var(--space1);
  background-color: var(--primary-color-light);
  text-align: center;
  font-size: var(--font-small);
  font-weight: var(--font-bold);
}

.social-icon {
  height: var(--space1-4);
  margin: var(--space-4) var(--space-8);
}
