.heading {
  background-color: var(--primary-color);
  height: var(--space8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 1px 1px 1px var(--primary-color);
}

.links {
  font-size: var(--font-small);
  font-weight: var(--font-bold);
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
  margin-left: 40px;
  padding: 0 2px;
}

.links:nth-child(4) {
  margin-right: 120px;
}

.active {
  box-shadow: 1px 1px 1px var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.blink {
  font-weight: var(--font-bold);
  animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}